
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing:border-box;
}

body {
  font-family: "Open Sans", Arial, Sans-serif;
  font-size: 16px;
}

.contenedor { 
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

/* --------------HEADER ---------------- */
header {
  width: 100%;
  background: url('acercade.jpg') #281a0c ;
  background-size: cover;
  background-attachment: fixed;
  background-position: center 0;
}

header .contenedor{
  position: relative;
  height: 700px;
}


header .navbar{
  width: 100%;
  text-align: right; 
}

header .navbar a {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  display: inline-block;
  margin:  40px 20px;
  text-decoration: none;
  position: relative;
}

header .navbar a:hover {
  text-decoration: underline;
}

header .textos {
  width: 100%;
  color: #fff;
  position: absolute;
  top: 50%;
  margin-top: -52px;
}

header .textos .nombre {
  font-size: 50px;
  font-weight: 600;
}

header .textos .nombre span {
  font-weight: 300;
}

header .textos h3 {
  font-weight: 300;
  font-size: 25px;
  font-style: italic;
}

/* -------------- MAIN ---------------- */


/*.header::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .1);
  backdrop-filter: blur(50px);
  z-index: -1;

}
*/


/*
.navbar a{
  font-size: 1.5rem;
  color: #fff ;
  text-decoration: none;
  font-weight: 500;
  margin-left: 2.5rem;
}*/

/*
#check{
  display: none;
}

.icons{
  position: absolute;
  font-size: 2.8rem;
  right: 5%;
  color: #fff;
  cursor: pointer;
  display: none ;
}


@media (max-width: 992px){
  .header {
    padding: 1.3rem 5%;
  }
}

@media (max-width: 768px){
  .icons{
    display: inline-flex;
  }

  #check:checked~.icons #menu-icon{
    display: none;
  }

  .icons #close-icon{
    display: none;
  }

  #check:checked~.icons #close-icon{
    display: block;
  }

  .navbar{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(50px);
    box-shadow: 0 .5rem 1rem 0 rgba(0, 0, 0 , .1);
    overflow: hidden ;
    transition: .3s ease;
  }

  #check:checked~.navbar {
    height: 17.7rem;
  }
  
  .navbar a {
    display: block;
    font-size: 1.1rem;
    margin: 1.5rem 0;
    text-align: center;
    transform: translateY(-50px);
    transition: .3s ease;
  }
}

#check:checked~.navbar a{
  transform: translateY(0);
}

.menu-vertical {
    display: none;
    position: absolute;
    background-color: #fff;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
  }
  
  #categorias:hover + .menu-vertical {
    display: block;
  }
  */


  